.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-dark);
  transition: transform 0.5s;
}

.overlay--hidden {
  transform: translateY(-92%);
}

.canvas-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-mute);
}

.word {
  background: linear-gradient(-45deg, var(--gradient));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
  margin: 0 0 1rem 0;
  font-size: 9.75rem;
  text-transform: uppercase;
  user-select: none;
}

.word-label {
  background-clip: text;
  margin: 3rem 0 1rem 0;
  font-size: 4rem;
  text-transform: uppercase;
  user-select: none;
}

.word--sm {
  font-size: 8rem;
  margin-bottom: 3rem;
}

.sub-text {
  font-size: 1.6rem;
  user-select: none;
}

.sub-text:first-child {
  margin: 0;
}

.overlay-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s;
}

.overlay-footer--hidden {
  opacity: 0;
}

.timer {
  font-size: 1.6rem;
  user-select: none;
}

.end-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  font-size: 1.8rem;
  margin: 0.8rem 0;
}

.hidden {
  display: none;
}

.canvas-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 598px;
  width: 598px;
  border-radius: 6px;
  background: linear-gradient(-45deg, var(--gradient));
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
}

.canvas {
  border-radius: 6px;
  background-color: var(--main-light);
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.btn {
  width: 120px;
  height: 60px;
  margin-top: 1rem;
  border: 4px solid var(--main-dark);
  border-radius: 12px;
  font-size: 1.4rem;
  color: var(--main-light);
  background-color: var(--main-dark-opacity);
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--main-dark);
}

.start-btn-wrapper {
  margin-top: 100px;
}

.start-btn {
  align-items: center;
  background: linear-gradient(-45deg, var(--gradient));
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
  border: 0;
  border-radius: 10px;
  color: var(--main-light);
  display: flex;
  font-size: 2rem;
  justify-content: center;
  line-height: 1em;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.start-btn:active,
.start-btn:hover {
  outline: 0;
}

.start-btn span {
  background-color: var(--btn-bg);
  padding: 24px 42px;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.start-btn:hover span {
  background-color: var(--btn-bg-opacity);
}
