.canvas {
  border: 3px solid var(--main-dark);
  border-radius: 6px;
  background-color: var(--main-light);
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.btn {
  width: 100px;
  height: 40px;
  margin-top: 30px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: var(--main-light);
  background-color: var(--main-dark);
}
