.container {
  flex-direction: column;
  justify-content: start;
}

.heading {
  background: linear-gradient(-45deg, var(--gradient));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
  margin-top: 4rem;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding: 2rem 0;
  margin: 0;
}

.list-item {
  font-size: 1.2rem;
  color: var(--main-light);
  margin-bottom: 1rem;
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.list-item:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.start-btn {
  align-items: center;
  margin: 0 auto;
  background: linear-gradient(-45deg, var(--gradient));
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
  border: 0;
  border-radius: 10px;
  color: var(--main-light);
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  line-height: 1em;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.start-btn:active,
.start-btn:hover {
  outline: 0;
}

.start-btn span {
  background-color: var(--btn-bg);
  padding: 0.6rem 1rem;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.start-btn:hover span {
  background-color: var(--btn-bg-opacity);
}

@media screen and (min-width: 768px) {
  .list-item {
    font-size: 1.4rem;
    margin-bottom: 1.1rem;
    width: 28rem;
  }

  .list-item:first-child {
    font-size: 2.4rem;
  }

  .start-btn {
    font-size: 1.4rem;
  }

  .start-btn span {
    padding: 0.8rem 1.6rem;
  }
}

@media screen and (min-width: 992px) {
  .start-btn {
    font-size: 1.6rem;
  }

  .start-btn span {
    padding: 1.2rem 2rem;
  }
}
